<article class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ .Params.subtitle }}
        </h3>
        {{ end }}
        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
            <source src="{{ .Params.video }}">
        </video>
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>

    {{ if .Params.available }}
    <div class="blog-info">
        {{ if .Params.available.cran }}
        <a href="{{ .Params.available.cran }}/"><i class="fab fa-r-project fa-lg"></i></a>
        {{ end }}
        {{ if .Params.available.github }}
        <a href="{{ .Params.available.github }}/"><i class="fab fa-github fa-lg"></i></a>
        {{ end }}
        {{ if .Params.available.website }}
        <a href="{{ .Params.available.website }}/"><i class="fas fa-globe fa-lg"></i></a>
        {{ end }}
    </div>
    {{ end }}

    {{ if .Params.contact }}
    <div class="blog-contact">
        {{ if .Params.contact.name }}
        <a href="{{ .Params.contact.url }}/">{{ .Params.contact.name }}</a>
        {{ end }}
    </div>
    {{ end }}

    <div class="post-entry" class="container">
      <div class="row">
        <div class="col-lg-3 col-md-1">

          {{ if .Params.image }}
          <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title"/>
          {{ end }}

        </div>

        <div class="col-lg-8 col-md-10 col-offset-1">

          {{ if .Truncated }}
          {{ .Params.Summary }}
<!--          <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a> -->
          {{ else }}
          {{ .Content }}
          {{ end }}

          {{ if .Params.tags }}
          <div class="blog-tags" style="padding-top: 15px;">
              {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
              {{ end }}
          </div>
          {{ end }}

        </div>
      </div>
    </div>
</article>
