# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
.Rproj.user/
*.Rproj

# R Environment Variables ----
.Renviron

# Quarto files ----
_site/

/.quarto/
